html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: #e0e0e0;
}
.container {
  height: auto;
  width: 100%;
  position: relative;
}
main {
  padding-bottom: 2%;
}

header {
  background-color: rosybrown;
  position: sticky;
  top: 0;
  height: 63px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header #login {
  color: black;
  font-weight: bold;
  margin-right: 2%;
  padding-block: 20px;
  float: right;
  text-decoration: none;
  transform: translateX(-10%);

}


header  img {
  height: 60px;
  width: 60px;
  text-align: center ;
  line-height: 60px;
  margin-left: 1%;
  
}
section {
  overflow: hidden;
}

section li {
  
  display: inline;
  padding: 2%;
}
section ul {
  margin-left: 36%;
}
section li a {
    display: inline;
    color: black;
    text-decoration: none;
    margin: 0 auto;
    left: 40%;
    font-weight: bold;  
}

#list-view
{
  scroll-behavior: smooth;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  
}
#map-view {
  scroll-behavior: smooth;
  display: none;
}
#list-view .card-1 a {
  color: black;
  text-decoration: none;

}
#list-view .card-2 {
  
  transform: translateX(10%);
  z-index: -1;
}

#list-view img {
  height: 200px;
  width: 250px;
  /* margin-bottom: 0%; */
}
.card-1,  .card-2, .card-3 {
  margin: 2%;
  background-color: lightgray;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  margin-left: 3.5%;
  margin-right: 1.5%;
  width: 40%;
  height: 200px;
}
.hotel-1-description , .hotel-2-description, .hotel-3-description {
  margin-left: 3%;
}
footer {
  background-color: rosybrown;
  position: sticky;
  bottom: 0;
  height: 59px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer #contact {
  float: left;
  color: black;
  text-decoration: none;
  font-weight: bold;
  margin-left: 2%;
   transform: translateX(10%);
 
}

.social-media-icons {
  position: absolute;
  float: right;
  margin-right: 2%;
  padding-block: 18px;
  left: 92%;
 
}

footer p {
  margin: auto;
  font-size: 10px;
  font-weight: bold;
  color: black;
  text-decoration: none;
  transform: translateX(-50%);
}

.social-media-icons img {
  height: 20px;
  width: 22px;
}

