html,
body {
  height: 100%;
  width: 100%;
  min-height: 100%;
  margin: 0px;
}
body {
  background-color: #e0e0e0;
}
.container {
  height: 100%;
  width: 100%;
}
header {
  background-color: rosybrown;
}

header img {
  height: 60px;
  width: 60px;
}
#list-view,
#map-view {
  scroll-behavior: smooth;
}
#list-view img {
  height: 200px;
  width: 250px;
}
#list-view div {
  margin: 2%;
  background-color: rgb(132, 136, 139);
  width: 40%;
  height: auto;
}
footer {
  background-color: rosybrown;
}
.social-media-icons img {
  height: 20px;
  width: 22px;
}

